@import url('https://fonts.googleapis.com/css2?family=Asap:ital@1&display=swap');

header {
    width: 100%;
    height: 70px;
    background-color: #0097FE;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 100;
    
    .logo {
        width: 20%;
        height: 200px;

        @media screen and (max-width: 930px) {
            display: none;
        }

        @media screen and (max-width: 800px) {
            display: none;
        }

        @media screen and (max-width: 600px) {
            display: none;
        }
    }

    form {
        width: 40%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;

        .input {
            font-family: 'Asap', sans-serif;
            margin-right: 5px;
            border: 1px solid #0097FE;
            border-radius: 5px;
            height: 20px;
            width: 200px;
        }

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            border: none;
            border-radius: 50%;
            cursor: pointer;

            &:hover {
                background-color: #B6B7B8;
            }
        }

        .lupa {
            width: 15px;
        }

        @media screen and (max-width: 930px) {
           width: 40%;
        }

        @media screen and (max-width: 800px) {
            display: none;
        }

        @media screen and (max-width: 600px) {
            display: none;
        }
    }                       

    nav {
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;

        .ul {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            list-style: none;
            margin: 0;
            padding: 0;

            a {
                font-family: 'Asap', sans-serif;
                text-decoration: none;
                font-size: 12px;
                font-weight: bold;

                &:hover {
                    color: #fff;
                }
            }
            
        
            li {
                margin-left: 20px;
                margin-right: 15px;
                text-decoration: none;
            }

            @media screen and (max-width: 930px) {
                justify-content: center;

                li {
                    margin: 20px;
                }
            }

            @media screen and (max-width: 800px) {
                justify-content: center;

                li {
                    margin: 20px;
                }
            }

            @media screen and (max-width: 600px) {
               justify-content: center;

                li {
                    margin: 10px;
                }
            }
        }

        @media screen and (max-width: 930px) {
            width: 60%;
        }

        @media screen and (max-width: 800px) {
            width: 100%;
        }

        @media screen and (max-width: 600px) {
            width: 100%;
        }
    }

}