@import url('https://fonts.googleapis.com/css2?family=Asap:ital@1&display=swap');


.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../../img/nubes.jpg");
    background-repeat: repeat;
    font-family: 'Asap', sans-serif;

    .infoActivityContainer{
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 100%;
        justify-content: center;
        margin-top: 100px;
        position: relative;

        img {
            width: 100%;
            text-align: center;
            z-index: 1;
            opacity: 0.6;

            @media screen and (max-width: 1200px) {
                width: 95%;
            }

            @media screen and (max-width: 600px) {
                width: 95%;
            }
        }

        .infoActivity {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            z-index: 5;

            section{
                width: 28%;
                height: 90%;
                padding: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                flex-wrap: wrap;

                p{
                    color: #fff;
                }


                .actImg {
                    max-width: 200px;
                    margin-top: 20px;

                    @media screen and (max-width: 1200px) {
                        margin-top: 0px;
                    }
                }

                @media screen and (max-width: 1200px) {
                    width: 100%;
                    flex-direction: row;
                    height: 25%;
                    
                    * {
                        margin: 5px;
                    }
                }

                @media screen and (max-width: 600px) {
                    width: 100%;
                    flex-direction: row;
                    
                    * {
                        margin: 5px;
                    }
                }
            }


            .sectionCountries {
                width: 44%;
                font-size: 12px;

                label {
                    font-size: 20px;
                }


                .countriesNames{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;


                    p {
                        margin: 10px;
                    }
                }
                
                @media screen and (max-width: 1200px) {
                    width: 100%;
                }

                @media screen and (max-width: 600px) {
                    width: 100%;
                }
            }

            @media screen and (max-width: 1200px) {
                flex-direction: column;
                
                .section1 {
                    height: 140px;
                    flex-wrap: wrap;
                    flex-direction: column;
                }
            }
            

            @media screen and (max-width: 600px) {
                flex-direction: column;
                
                .section1 {
                    width: 200px;
                    height: 250px;
                    flex-wrap: wrap;
                    flex-direction: row;
                }
            }
        }

        @media screen and (max-width: 1200px) {
            width: 80%;
            height: 650px;
            margin-top: 150px;
            background-color: #812036;
            border-radius: 15px;
            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

            .pergamino {
                display: none;
            }

            .imgContainer {
                display: flex;
                justify-content: center;
            }
        }

        @media screen and (max-width: 800px) {
            height: 900;
        }

        @media screen and (max-width: 600px) {
            width: 80%;
            height: 900px;
            margin-top: 150px;
            background-color: #812036;
            border-radius: 15px;
            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

            .pergamino {
                display: none;
            }

            .imgContainer {
                display: flex;
                justify-content: center;
            }
        }
    }

    .btnDelete{
        width: 50%;
        height: 50px;
        cursor: pointer;
        border-radius: 10px;
        border: 1px solid #000;

        &:hover {
            background-color: #B6B7B8;
        }

        @media screen and (max-width: 1200px) {
            margin-top: 15px;
        }

        @media screen and (max-width: 600px) {
            margin-top: 15px;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
        justify-content: center;
        margin-top: 50px;

        label {
            font-size: 20px;
            margin-top: 20px;
            margin-bottom: 5px;
        }

        input {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .radio {
            display: flex;
            justify-content: space-evenly;

            .option {
                display: flex;

                * {
                    margin: 5px;
                }
            }

            @media screen and (max-width: 600px) {
                flex-direction: column;
            }
        }

        button {
            width: 50px;
        }


        .inputFileContainer {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: 20px;

            label {
                width: 100%;
            }

            .divFileContainer {
                display: flex;

                .uploadImgContainer {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    width: 40%;

                    .btnUpload {
                        margin-top: 20px;
                        margin-bottom: 20px;
                        cursor: pointer;
                    }

                    span {
                        margin-left: 10px;
                    }
                }

                .previewImgContainer {
                    display: flex;
                    justify-content: center;
                    width: 60%;
                    margin-top: 20px;
                    margin-bottom: 20px;


                    .imgUpload {
                        width: 100%;
                    }

                    @media screen and (max-width: 600px) {
                        width: 100%;
                    }
                }


                @media screen and (max-width: 600px) {
                    flex-direction: column;
                    align-items: center;

                    .uploadImgContainer {
                        flex-direction: column;
                    }
                }
            }

        }

        .containerBtnCreate {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 50px;
            margin-top: 50px;

            .btnCreate {
                width: 100px;
                height: 50px;
                border: 1px solid;
                border-radius: 10px;
                cursor: pointer;

                &:hover {
                    background-color: #B6B7B8;
                }
                
            }
        }

        .buttons {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 50px;
            margin-top: 50px;

            .btnModify {
                width: 100px;
                height: 50px;
                border: 1px solid;
                border-radius: 10px;
                cursor: pointer;

                &:hover {
                    background-color: #B6B7B8;
                }
                
            }
        }

        @media screen and (max-width: 1200px) {
            width: 80%;
        }

        @media screen and (max-width: 600px) {
            width: 80%;
        }

    }


}



.danger {
    color: #F22755;
    font-size: 20px;
}

input[type=range] {
    height: 36px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    background: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000;
    background: #B82359;
    border-radius: 5px;
    border: 1px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 1px #812036;
    border: 1px solid #812036;
    height: 29px;
    width: 12px;
    border-radius: 16px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -10.5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #B82359;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000;
    background: #B82359;
    border-radius: 5px;
    border: 1px solid #000000;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 1px #812036;
    border: 1px solid #812036;
    height: 29px;
    width: 12px;
    border-radius: 16px;
    background: #FFFFFF;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #B82359;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000000;
}

input[type=range]::-ms-fill-upper {
    background: #B82359;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000000;
}

input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 1px #812036;
    border: 1px solid #812036;
    height: 29px;
    width: 12px;
    border-radius: 16px;
    background: #FFFFFF;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #B82359;
}

input[type=range]:focus::-ms-fill-upper {
    background: #B82359;
}